<div class="container py-5">
  <div class="card shadow border-0">
    <div class="card-body">
      <h2><%= @event.title %></h2>
      <p><%= @event.description %></p>
      <p>Prix : 
        <%= @event.price %> €.
      </p>
      <p>Statut : 
        <%= @event.validated? ? "Validé" : "En attente" %>
      </p>

      <%= link_to "Retour", admin_events_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>