<div class="container mt-5">
  <div class="card shadow p-4 text-center">
    <h2 class="mb-3">👤 Mon profil</h2>
    <!-- AFFICHAGE DE L'AVATAR -->
    <div class=" mb-4">
      <% if @user.avatar.attached? %>
        <!-- S'il a un avatar, on l'affiche avec une balise image_tag de Rails -->
        <%= image_tag @user.avatar, alt: 'avatar', class: "img-fluid rounded-circle shadow", style: "width: 150px; height: 150px; object-fit: cover;" %>
      <% else %>
        <!-- S'il n'en a pas, on affiche un avatar aléatoire par défaut -->
        <img src="https://ui-avatars.com/api/?name=<%= @user.first_name %>&background=random" alt="avatar random" class="img-fluid rounded-circle shadow" style="width: 150px; height: 150px;">
      <% end %>
    </div>
    <p><strong>Email :</strong> <%= @user.email %></p>
    <p><strong>Inscrit depuis :</strong> <%= @user.created_at.strftime("%d %B %Y") %></p>

    <hr>

    <%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>