<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow rounded-4">
        <div class="card-header bg-primary text-white">
          <h2 class="h4 mb-0 text-center"><%= @event.title %></h2>
        </div>

        <div class="card-body">
          <p class="text-muted mb-2">
            <strong>Date :</strong> <%= @event.start_date.strftime("%d %B %Y à %H:%M") %>
          </p>
          <p class="text-muted mb-2">
            <strong>Durée :</strong> <%= @event.duration %> minutes
          </p>
          <p class="text-muted mb-2">
            <strong>Lieu :</strong> <%= @event.location %>
          </p>
          <p class="text-primary fw-bold mb-3">
            <strong>Prix :</strong> <%= @event.price || 0 %> €
          </p>

          <h5>Description</h5>
          <p><%= simple_format(@event.description) %></p>
          <div class="d-flex align-items-center mb-3">
              <span class="badge bg-primary me-2">Organisateur</span>
              <strong><%= @event.admin.email %></strong>
          </div>
          <div class="d-flex justify-content-end gap-2 mt-4">
            <%= link_to "Retour aux événements", root_path, class: "btn btn-outline-secondary, me-auto" %>
            <% if user_signed_in? && current_user != @event.admin && !@event.participants.include?(current_user) %>
              <%= link_to "Rejoindre l'évènement", new_event_attendance_path(@event), data: { turbo: false }, class: "btn btn-success" %>
            <% end %>
            <% if user_signed_in? && current_user == @event.admin %>
              <%= link_to "Modifier", edit_event_path(@event), class: "btn btn-warning" %>
              <%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>